@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Work Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f2f4f4;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.form-add-city {
  width: 500px;
  margin-left: 520px;
}

#nova-forma-h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}

#dugme_novi {
  margin-top: 15px;
  width: 130px;
}

.link {
  margin-top: 40px;
}

#dugme_pretraga {
  width: 200px;
}

#pretraga-naslov {
  margin-top: 30px;
}

.formpretraga {
  width: 500px;
  margin-top: 30px;
  margin-left: 520px;
}

#dugme_pretraga {
  margin-top: 15px;
}